@model IEnumerable<HairSalon.Models.Stylist>

<html>
<head>
    <title>Hair Salon</title>
</head>
<body>
    <h2>Hair Salon</h2>
    <p>@Html.ActionLink("Stylists employed", "Index", "Stylists")</p>
</body>
</html>